{{- define "main" }}
<main class="full">
	<div id="segment-1" class="segment">
		<h1>#DocsThursday</h1>
		<p>Create and contribute to open source documentation on the 3rd Thursday of every month.</p>
	</div>
	<div id="segment-2" class="segment">
		<h2>How to Participate</h2>
		<ol>
			<li>
				<strong>Choose a Location</strong>
				<span>Join from home, work, a participating meetup, or even a local coffee shop. You just need a laptop and Internet.</span>
			</li>
			<li>
				<strong>Pick a Project</strong>
				<span>Choose an open source docs site from this website or just find the repo for your favorite project's docs.</span>
			</li>
			<li>
				<strong>Submit Issues & PRs</strong>
				<span>Open GitHub Issues for missing or unclear information or open PRs to fix typos, add missing features, or elaborate sections.</span>
			</li>
		</ol>
		<a class="button" href="participate">Learn more</a>
	</div>
	<div id="segment-3" class="segment">
		<h2>Get notified about DocsThursday</h2>
		<!-- Begin Mailchimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="https://DocsThursday.us13.list-manage.com/subscribe/post-json?u=8243af0721fc7233cc3687a17&amp;id=139259d498&c=?" method="GET" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate slim newsletter" target="_blank" novalidate>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8243af0721fc7233cc3687a17_139259d498" tabindex="-1" value="" /></div>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
			</form>
		</div>
	</div>
</main>
{{ end }}
