//-----------------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------------
$primary-color: #00ae4e;
$secondary-color: #56C681;
$tertiary-color: #FF9A56;
$black: #1C1C1C;
