code,
pre code{
	background-color: #DEDEDE;
	padding: 2px 6px;
	color: #1C1C1C;
	font-family: monospace;
	white-space: pre;
}
pre code{
	display: block;
	padding: 20px;
}

ul.menu{

	margin: 0;
	padding: 0;

	&.h li{
		float: left;
	}
}

blockquote{
	position: relative;
	line-height: 1.0;
	font-size: larger;
	font-style: italic;
	font-weight: bold;

	::before,
	::after{
		color: $tertiary-color;
		font-size: 4.0rem;
	}

	::before{
		position: absolute;
		top: -10px;
		left: -30px;
		content: "“";
	}

	::after{
		position: relative;
		bottom: -26px;
		right: -2px;
		content: "”";
	}

	p{
	}
}

figcaption{
	color: #999999;
	text-align: center;
	font-style: italic;
}

form{
	margin: 0 auto;
	width: 60%;

	label{
		display: block;
		margin-bottom: 10px;
	}

	input,
	textarea{
		display: block;
		margin-bottom: 10px;
		border: 1px solid $black;
		border-radius: 2px;
		width: 100%;
	}

	input{
		padding-left: 5px;
		height: 30px;
	}

	input[type="submit"]{
		margin-right: auto;
		margin-left: auto;
		border: none;
		background-color: $tertiary-color;
		width: 50%;
		height: 40px;
	}

	textarea{
		height: 100px;
	}

	&.slim{
		text-align: center;

		input[type=email]{
			display: inline-block;
			margin-right: -5px;
			border-radius: 5px 0 0 5px;
			border: 1px solid $tertiary-color;
			border-right: none;
			padding: 15px;
			width: 40%;
			height: 38px;
			text-align: center;
		}

		input[type="submit"]{
			display: inline-block;
			margin: 0;
			border-radius: 0 5px 5px 0;
			width: 150px;
		}
	}
}


div.pager{
	margin-top: 30px;
	border-top: 1px solid #333333;
	height: 60px;

	a.older{
		float: right;
	}
}


div.share-buttons{
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -96px;
	text-align: center;

	div,
	a{
		display: block;
		width: 48px;
		height: 48px;
		line-height: 48px;
	}

	div{
		background-color: white;
		color: black;
		font-size: 1.4rem;

		&.share-down{
			padding-top: 10px;
			line-height: 15px;
		}

		&.share-right{
			display: none;
		}
	}

	a{
		font-size: 2.0rem;
		transition: width 1s;

		&:hover{
			width: 64px;
			transition: width 500ms;
		}

		&.twitter{
			background-color: #1DA1F2;
		}

		&.hacker-news{
			background-color: #FF6600;
		}

		&.reddit{
			background-color: #FF4500;
		}

		&.facebook{
			background-color: #3B5998;
		}

		&.linkedin{
			background-color: #0077B5;
		}
	}
}

table{
	width: 100%;

	thead{
		border-bottom: 2px solid white;
	}

	tr:nth-child(odd){
		background-color: #010101;
	}

	tr:nth-child(even){
		background-color: #121212;
	}

	td{
		padding: 5px 15px;
	}
}

div.segment{
	padding: 30px 0;
}



body.section-communities,
body.section-plugins{
	background-color: #007c38;

	main.list{
		color: #ffffff;
	}
}

body.section-communities main.list .communities,
body.section-plugins main.list .communities{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	margin: 10px 40px;
}
	body.section-communities main.list .community,
	body.section-plugins main.list .community{
		margin-top: 30px;
		border-radius: 8px;
		background-color: #FFFFFF;
		padding: 5px;
		width: 46%;
		color: #231F20;
	}
		body.section-communities main.list .community:nth-child(1n+0),
		body.section-plugins main.list .community:nth-child(1n+0){
			border-left: 8px solid #c0392b;
			border-right: 8px solid #c0392b;
		}

		body.section-communities main.list .community:nth-child(2n+0),
		body.section-plugins main.list .community:nth-child(2n+0){
			border-left: 8px solid #e67e22;
			border-right: 8px solid #e67e22;
		}

		body.section-communities main.list .community:nth-child(3n+0),
		body.section-plugins main.list .community:nth-child(3n+0){
			border-left: 8px solid #f1c40f;
			border-right: 8px solid #f1c40f;
		}

		body.section-communities main.list .community:nth-child(4n+0),
		body.section-plugins main.list .community:nth-child(4n+0){
			border-left: 8px solid #2ecc71;
			border-right: 8px solid #2ecc71;
		}

		body.section-communities main.list .community:nth-child(5n+0),
		body.section-plugins main.list .community:nth-child(5n+0){
			border-left: 8px solid #3498db;
			border-right: 8px solid #3498db;
		}

		body.section-communities main.list .community img{
			float: left;
			padding: 12px;
			width: 60px;
			height: 60px;
		}

		body.section-communities main.list .community footer{
			display: flex;
		}
			body.section-communities main.list .community footer div{
				width: 21%;
				text-align: center;
			}
				body.section-communities main.list .community footer div:last-child{
					width: 37%;
				}

				body.section-communities main.list .community footer span{
					display: block;
					font-size: larger;
					font-weight: bold;
				}

				body.section-communities main.list .community .button{
					margin: 12px;
					font-weight: bold;
				}
